<a href="#league-standings" class='col s12 m4 l3 grey-text padding2 disappear'>league standings</a>
<a href="#add-a-game" class='col s12 m4 l3 grey-text padding2'>add a game</a>
<a href="#schedule" class='col s12 m4 l3 grey-text padding2'>schedule</a>