{{#if is_Admin}}
<a href="#league-standings" class='col grey-text padding2'>league standings</a>
<a href="#schedule" class='col grey-text padding2'>schedule</a>
{{/if}}
{{#unless is_Admin}}
<a href="https://volley-all.herokuapp.com/#league-standings" class='col grey-text padding2'>league standings</a>
<a href="https://volley-all.herokuapp.com/#schedule" class='col grey-text padding2'>schedule</a>
{{/unless}}