{{#if is_Admin}}
<a href="#league-standings">league standings</a>
<a href="#schedule">schedule</a>
{{/if}}
{{#unless is_Admin}}
<a href="https://volley-all.herokuapp.com/#league-standings">league standings</a>
<a href="https://volley-all.herokuapp.com/#schedule">schedule</a>
{{/unless}}