<td>{{game.id.date}}</td>
<td>{{game.id.time}}</td>
<td>{{game.id.teams}}</td> {{! How do we make it so it only pulls the opponent here?}}
<td>{{game.id.teams.record}}</td> {{! How do we make it so it only pulls the opponent's record here?}}