<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volley-All</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="icon" href="https://fav.farm/🏐" />
  </head>
  <body>
    <div class="wrapper center-align">
      <header>
        <h1 data-aos="flip-up" data-aos-duration="1000">
          🏐
          <a href="/" class='black-text shadow'>VOLLEY-ALL</a>
        </h1>
        <nav data-aos="fade-in" data-aos-duration="1500" class="overlay2">
          
          {{#if loggedIn}}
            {{#if is_Admin}}
            <a href="/" class ="col grey-text padding2">dashboard</a>
            <a href="#create-a-team" class ='col grey-text padding2'>create a team</a>
            {{> admin-navbar-partial}}
            <a href="/login" id="logout" class="col btn-no-style grey-text padding2">logout</a>
            {{/if}}
            {{#unless is_Admin}}
            <a href="/">dashboard</a>
            {{> player-navbar-partial}}
            <a href="/login" id="logout" class="col btn-no-style grey-text padding2">logout</a>
            {{/unless}}
          {{else}}
            {{!-- SOOOO do we need a link to the login page on the login page? maybe not lol --}}
            {{!-- <a href="/login" class ="grey-text">login</a> --}}
            <p>Welcome to Volley-All! Please login or scroll to sign up!</p>
          {{/if}}
        </nav>
      </header>
      <main class="container">
        {{{body}}}
      </main>
      <footer>
        <a href="https://github.com/rrcampbell-exe/volley-all" target="_blank">Bump, set, and spike with us on GitHub.</a>
      </footer>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>