<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volley-All</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="https://fav.farm/🏐" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          🏐 <a href="/">Volley-All</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard"><button id="dashboard" class="btn-no-style">dashboard</button></a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <a href="https://github.com/rrcampbell-exe/volley-all" target="_blank">Bump, set, and spike with us on GitHub.</a>
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>