<section>
  <h2>Edit Team</h2>
  <form class="edit-team-form">
    <label for="team-name">Team Name</label>
    <input type="text" name="team-name" id="team-name" value="{{team.name}}"/>
    <label for="team-code">Team Code</label>
    <input type="text" name="team-code" id="team-code" value="{{team.code}}" />
    <button type="submit">Save Changes</button>
  </form>
</section>