html {
    scroll-behavior: smooth;
}



#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    /* min-height: 100vw; */
    z-index: -5000;
    filter: opacity(40);
    filter: blur(2 px);
    
  }

  .background2{
    background-image: url("\media\pexels-engin-akyurt-1552620.jpg");
    background-color: rgb(168, 168, 168);
    background-size: cover;
    z-index: -2000;
  }

  .overlay{
      background: rgba(255,255,255,0.90)
  }
  .overlay2{
    background: rgba(255,255,255,0.25)
}

  .relative{
      position: relative;
  }

  .padding1 {
      padding: 3vw;
  }
  .padding2 {
    padding: 1.5vw;
}

  .margin1{
    margin: 2vw 10vw 2vw 10vw;
  }

  .margin2{
    margin: 4vw 0vw;
  }
  .margin3{
    margin: 2vw 0;
  }
  .radius{
      border-radius: 2vw;
  }

  .shadow{
    text-shadow: 2px 2px 5px #1d1d1d;
    
  }
  .shadow1{
    box-shadow:2px 2px 5px #a9acbb;
  }

 .icon-white {
        color: white;
 }