html, body {
  scroll-behavior: smooth;
  margin: 0;
}

#login-page-video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -5000;
  filter: opacity(40);
  filter: blur(2 px);
}

.welcome-background {
  background-image: url("/media/pexels-kampus-production-6180386.jpg");
  background-color: rgb(209, 209, 209);
  background-size: cover;
  z-index: -2000;
  opacity: 0.2;
}

.letter-spacing {
  letter-spacing: 4px;
}

.overlay {
  background: rgba(255, 255, 255, 0.9);
}
.overlay2 {
  background: rgba(255, 255, 255, 0.25);
}

.relative {
  position: relative;
}

.padding1 {
  padding: 3vw;
}
.padding2 {
  padding: 1.5vw;
}

.margin1 {
  margin: 2vw 10vw 2vw 10vw;
}

.margin2 {
  margin: 4vw 0vw;
}
.margin3 {
  margin: 2vw 0;
}
.radius {
  border-radius: 2vw;
}

.shadow {
  text-shadow: 2px 2px 5px #1d1d1d;
  color: white;
}

.shadow1 {
  box-shadow: 2px 2px 5px #a9acbb;
}

.icon-white {
  color: white;
}

footer {
  margin: 2.5%;
}

footer a {
  text-shadow: 1px 1px 5px white;
}

/* MEDIA QUERIES */

@media (min-aspect-ratio: 16/9) {
  #login-page-video {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #login-page-video { 
      width:auto;
      height: 100%;
  }
}
@media (max-width: 767px) {
  #login-page-video {
      display: none;
  }

  .letter-spacing {
    letter-spacing: 2px;
  }

  .disappear {
    display: none;
  }

  body {
      background: url('/media/pexels-kampus-production-6180386.jpg') no-repeat fixed;
      background-size: cover;
  }
}